body {
    padding: 0;
    margin: 0;
}

.button {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 170);
    left: 200px;
    top: 200px;
}

.directions {

background-color: aqua;

}


h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }