* {
    background-color: rgba(255, 255, 255, 0.1);
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 600vh;
    background-color: #4D4D4D;
    color: aliceblue;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.button {
    background-color: #4D4D4D;
    border: 2px solid #4D4D4D;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
  }
  
  .button:hover {
    border: 2px solid rgb(133, 133, 133);
  }



/* Player Ansicht  */
body>.player {
    position: absolute;
    margin-left: calc(50% - 550px);
    margin-top: 100px;
    width: 150px;
}

img.playeremoji {
    margin-top: 10px;
}



/* Content-Bereich */
.content {
    position: absolute;
    margin-left: 50%;
    margin-top: 100px;
    transform: translate(-50%);
    width: 800px;
}

.content>div {
    min-height: 500px;
}

.content h2,
.content h3 {
    text-align: center;
}







/* State 0 - Anmeldung */
.content div.register {}

div.register .avatar {
    display: flex;
    justify-content: center;
}

div.register .selected {
    opacity: 0.5;
    pointer-events: none;
}
div.register{
    /* display: inline-block; */
    border-left: 4px solid white;   
}


div.register .avatar div {
    width: 120px;
    height: 120px;
    margin: 30px;
    top: 200px;
    left: 200px;
    border-radius: 200px;
    border: 4px solid #7FBC7D;
    background-color: #7FBC7D40;
    /* display: inline-block; */
}

div.register .avatar div img {
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}

div.register div.koala img {
    width: 85px;
}
div.register div.giraffe {
    border: 4px solid #FFBB6B;
    background-color: #FFBB6B40;
}
div.register div.giraffe img {
    width: 65px;
}
div.register div.elefant {
    border: 4px solid #FC7479;
    background-color: #FC747940;
}
div.register div.elefant img {
    width: 100px;
}
div.register div.leo {
    border: 4px solid #4BA9DC;
    background-color: #4BA9DC40;
}
div.register div.leo img {
    width: 61px;
}
/* State 1 - Fragestellung */
.content div.question .loader {
    margin-left: 45%;
    margin-top: 10%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #7FBC7D;
    border-right: 8px solid #FFBB6B;
    border-bottom: 8px solid #FC7479;
    border-left: 8px solid #4BA9DC;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    }
    spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

div.question {}



/* State 2 - Antwort */
.content div.answering {}


div.answering .melody_box {
    display: flex;
    flex-direction: row;
}

div.answering .melody_box>div {
    display: flex;
    flex-direction: column;
}

div.answering .melody_box>div>div {
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 2px solid rgb(99, 99, 99);
    border-radius: 4px;
}

/* Farbe der Kästchen ändern*/
.changeColor {
    background-color: aqua;
    
}







/* State 3 - Anhören der Antworten */
.content div.final_answer {}

/* div.final_answer .avatar {
    display: flex;
    justify-content: center;
}

div.position_svg {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
} */
div.final_answer .playbutton div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;




}

/* div.final_anwer .avatar div {
    width: 120px;
    height: 120px;
    margin: 30px;
    top: 200px;
    left: 200px;
    flex-direction: column;
    border-radius: 200px;
    border: 4px solid #7FBC7D; */
    /* display: inline-block; */
/* } */

/* div.final_answer .avatar div img {
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
} */

div.final_answer .position_svg div {
        display: flex;
        width: 105px;
        height: 105px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 4px solid #7FBC7D;
        background-color: #7FBC7D40;
        border-radius: 50%;
        position: relative;
    }
div.final_answer .position_svg div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

div.final_answer div.giraffe {
    border: 4px solid #FFBB6B;
    background-color: #FFBB6B40;
}

div.final_answer div.elefant {
    border: 4px solid #FC7479;
    background-color: #FC747940;
}

div.final_answer div.leo {
    border: 4px solid #4BA9DC;
    background-color: #4BA9DC40;
} 
div.final_answer .position_svg {
    padding-right: 40px;
    display: inline-block;
    border-right: 4px solid white;    
}




